<nav ng-controller="LoginController as vm" class="navbar navbar-inverse navbar-fixed-top" ng-init="vm.init()">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="#!/">LG NASDAQ</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li ng-class="vm.isActiveTab('')"><a href="#!/">Companies</a></li>
                <li ng-class="vm.isActiveTab('search')"><a href="#!/search">Search by Symbol</a></li>
                <li ng-class="vm.isActiveTab('register')" ng-if="!vm.isLoggedIn()"><a href="#!/register">Register</a></li>
                <li ng-class="vm.isActiveTab('profile')" ng-if="vm.isLoggedIn()"><a href="#!/profile">Profile</a></li>
                <li ng-class="vm.isActiveTab('news')"><a href="#!/news">Financial News</a></li>
            </ul>
            <form ng-if="!vm.isLoggedIn()" class="navbar-form navbar-right" role="login" ng-submit="vm.login()">
                <div class="form-group" ng-class="{'has-error': vm.error}">
                    <input type="text" class="form-control" placeholder="Username" ng-model="vm.username" autocapitalize="none">
                </div>
                <div class="form-group" ng-class="{'has-error': vm.error}">
                    <input type="text" class="form-control" placeholder="Password" ng-model="vm.password" autocapitalize="none">
                </div>

                <button type="submit" class="btn btn-default">Login</button>
            </form>
            <ul ng-if="vm.isLoggedIn()" class="nav navbar-nav navbar-right">
                <li>
                    <p class="navbar-text">Welcome {{vm.loggedInUser}}</p>
                </li>
                <li><button class="navbar-btn btn-default btn-sm" ng-click="vm.logout()">Logout</button></li>
            </ul>
        </div>
    </div>
</nav>
