<div class="container">
    <h2>Search By Symbol</h2>
    <form name="vm.search" ng-submit="vm.submitHandler()">
        Symbol: <input type="text" name="symbol" required ng-minlength="2" ng-model="vm.Symbol" />
        <div ng-show="vm.search.$dirty && vm.search.$invalid && vm.isSubmitted">
            <p>Please enter 2 or more letters.</p>
        </div>
        <button type="submit" class="btn"> Search </button>
    </form>
    <h2>Results:</h2>
    <div ng-if="vm.error">
        <p>{{vm.error}}</p>
    </div>
    <div>
        <h1>{{vm.symbol.Name}}</h1>
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Industry</th>
                    <th>Sector</th>
                    <th>Last Sale</th>
                    <th>Market Cap</th>
                    <th>IPO Year</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{vm.symbol.Symbol}}</td>
                    <td>{{vm.symbol.Industry}}</td>
                    <td>{{vm.symbol.Sector}}</td>
                    <td>{{vm.symbol.LastSale}}</td>
                    <td>{{vm.symbol.MarketCap}}</td>
                    <td>{{vm.symbol.IPOyear}}</td>

    </div>
    <!--<p>Search History:</p>-->
    <!--<ul>-->
    <!--    <li ng-repeat="stock in vm.stock">{{stock.Symbol}}, {{stock.Name}}</li>-->
    <!--</ul>-->
</div>
