<div class="container">
    <h2>Search By Symbol</h2>
    <form name="vm.search" ng-submit="vm.submitHandler()">
        Symbol: <input type="text" name="symbol" required ng-minlength="2" ng-model="vm.Symbol" />
        <div ng-show="vm.search.$dirty && vm.search.$invalid && vm.isSubmitted">
            <p>Please enter 2 or more letters.</p>
        </div>
        <button type="submit" class="btn"> Search </button>
    </form>
    <h2>Results:</h2>
    <ul ng-show="vm.search.$valid">
        <li ng-repeat="stock in vm.stocks | filter: stock.Symbol">
            <a ng-href="#!/stock/{{stock._id}}">{{stock.Symbol}}</a>
        </li>
    </ul>
    <!--<p>Search History:</p>-->
    <!--<ul>-->
    <!--    <li ng-repeat="stock in vm.stock">{{stock.Symbol}}, {{stock.Name}}</li>-->
    <!--</ul>-->
</div>
