<div class="container">
    <h2>{{vm.title}}</h2>
    <!--<button type="submit" class="btn btn-primary" ng-click="vm.getNews()">Get News</button>-->
    <div>
        <!--<ul>-->
        <!--    <li ng-repeat="news in vm.news">{{news.name}}</li>-->
        <!--</ul>-->

        <ul>
            <li ng-repeat="article in vm.articles"><a href='{{article.url}}' target="_blank">{{article.title}}, {{article.author}} : {{article.source.name}}</a></li>
            <!--<li>{{vm.articles.title}}</li>-->
        </ul>
        <!--<p>{{vm.articles}}</p>-->
    </div>
</div>
